{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">
	  <h3>All Tweets</h3>
      <!-- display tweets here -->
  		{% for tweet in tweets %}
  		<div id="tweetbox">
  			<img src= "/images/nimit2.png" id="default">
      		<ul><b><a href="/users/{{tweet.name}}">{{tweet.name}}</a></b></ul>
        	<ul><a href="/users/{{tweet.name}}/tweets/{{tweet.id}}">{{tweet.text}}</a></ul>
        	<ul id="retweet"><a href="#"><i class="fa fa-refresh"></i> retweet</a></ul>
        </div>
<!-- <li id="{{tweet.id}}"><img><a href="/users/{{tweet.name}}"><b>{{tweet.name}}</b></a><br>{{tweet.text}}<br><a>Re-Tweet</a></li> -->
        {% endfor %}
	<br>
    </div>
  </div>

{% endblock %}